@import "/src/shopcol.scss";
.dcat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: $aqua ;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
 
    

}
.dcatlabel{
    font-size: 2rem;
    color: $aqua;
}
.catTit{
    font-size: xx-large;
    color:$oak;
}